.pr_5 {
    display: flex;
    position: relative;
    right: 90px;
    bottom: 3px;
}
.pr_5 li {
    display: inline-block;
    margin-right: 10px;
}

.up_btn button {
    width: fit-content;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    text-align: center;
}

.up_btn {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    text-align: center;
}